---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const projects: CollectionEntry<'projects'>[] = await getCollection('projects');
// console.log(projects);

const sortedProjects = projects.sort((a, b) => {
  // Primero los destacados
  if (a.data.featured && !b.data.featured) return -1;
  if (!a.data.featured && b.data.featured) return 1;
  return 0;
});
---

<section id="projects" aria-label="Proyectos destacados de Cristian Cantero López" class="p-4 my-20 mx-auto max-w-3xl scroll-mt-20 lg:max-w-5xl" data-aos="fade-up">
	<div class="flex items-center mb-6 gap-2">
		<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
				d="M3 7a2 2 0 012-2h5l2 2h7a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2V7z" />
		</svg>
		<h1 class="text-3xl font-bold">Proyectos destacados</h1>
	</div>
	<div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
		{
			sortedProjects.map((project, index) => {
				const { title, description, image, date, status, technologies, url } = project.data;
				return (
					<div class="p-4 rounded-lg shadow-lg shadow-slate-700 flex flex-col h-full">
						<div class="flex items-center justify-between mb-2">
							<h2 class="text-2xl font-bold text-amber-300">{title}</h2>
							<p class={`text-gray-600 text-xs font-bold border border-gray-600 rounded-full px-2 py-0.5 ${status === 'Terminado' ? 'bg-[#7bd47b]' : 'bg-[#ecd36d]'}`}>{status}</p>
						</div>
						<div class="my-4 flex items-center mb-2">
							{technologies.map(tech => (
								<span 
									class="flex items-center justify-center text-gray-600 text-xs px-2 py-1 border border-gray-600 rounded-full mr-2 mb-2"
									style={`background-color: ${tech.color || '#1F2937'};`}
								>
								<img src={tech.icon} alt={tech.name} class="inline-block w-4 h-4 mr-1" />
								<span class="inline-block"><strong>{tech.name}</strong></span>
								</span>
							))}
						</div>
						<div class="overflow-hidden rounded-md" style="height: 24vh;">
							<img src={image} alt={title} class="w-full h-full rounded-md hover:scale-105 transition-transform duration-300" />
						</div>
						<p class="mt-2 text-white text-sm font-bold">{date}</p>
						<p class="my-4 text-gray-200 font-semibold">{description}</p>
						<div class="mt-auto">
							{url.githubfrontend && (
								<a href={url.githubfrontend} class="inline-flex items-center justify-center gap-1.5 text-gray-200 text-xs  font-bold border border-gray-400 rounded-lg px-2 py-1 bg-gray-800 hover:bg-gray-900 transition-colors duration-300" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
									<path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
									</svg>
									Frontend
								</a>
							)}
							{url.githubbackend && (
								<a href={url.githubbackend} class="inline-flex items-center justify-center gap-1.5 text-gray-200 text-xs  font-bold border border-gray-400 rounded-lg px-2 py-1 bg-gray-800 hover:bg-gray-900 transition-colors duration-300" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
									<path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
									</svg>
									Backend
								</a>
							)}
							{url.github && (
								<a href={url.github} class="inline-flex items-center justify-center gap-1.5 text-gray-200 text-xs  font-bold border border-gray-400 rounded-lg px-2 py-1 bg-gray-800 hover:bg-gray-900 transition-colors duration-300" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
									<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
									</svg>
									Repositorio
								</a>
							)}
							{url.demo && (
								<a href={url.demo} class="inline-flex items-center justify-center gap-1 text-gray-200 text-xs font-bold border border-gray-400 rounded-lg px-2 py-1 bg-gray-800 hover:bg-gray-900 ml-1 transition-colors duration-300" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
									</svg>
									Demo
								</a>
							)}
						</div>
				    </div>
				);
			})
		}
	</div>
</section>