---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

import '../styles/global.css';

const projects = await getCollection('projects');
console.log(projects);

const sortedProjects = projects.sort((a, b) => {
  // Primero los destacados
  if (a.data.featured && !b.data.featured) return -1;
  if (!a.data.featured && b.data.featured) return 1;
  return 0;
});
---

<Layout 
	title="Cristian Cantero L칩pez | Desarrollador Web Full Stack en JavaScript, React y Node.js" description="Desarrollador web Full Stack especializado en JavaScript, React, Node.js y tecnolog칤as modernas como Astro y Tailwind CSS. Ayudo a crear sitios web r치pidos, escalables y con un dise침o atractivo."
>
	<div class="text-center text-2xl font-bold mt-10 mb-10">Cristian Dev 游눹</div>
	<section aria-label="Proyectos destacados de Cristian Cantero L칩pez" class="p-4 my-10 mx-auto max-w-6xl">
		<h1 class="text-3xl font-bold mb-6 text-center">Proyectos Destacados</h1>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
			{
				sortedProjects.map(project => {
					const { title, description, image, date, technologies, url } = project.data;
					return (
						<div class="bg-gray-800 p-4 rounded-lg shadow-md flex flex-col h-full">
							<h2 class="text-2xl font-bold">{title}</h2>
							<div class="my-4 flex items-center mb-2">
								{technologies.map(tech => (
									<span 
										class="inline-flex items-center text-gray-600 text-sm px-2 py-1 border border-gray-600 rounded-full mr-2 mb-2"
										style={`background-color: ${tech.color || '#1F2937'};`}
									>
										<img src={tech.icon} alt={tech.name} class="inline-block w-4 h-4 mr-1" />
										<strong>{tech.name}</strong>
									</span>
								))}
							</div>
							<img src={image} alt={title} class="w-full h-auto rounded-md" />
							<p class="mt-2 text-gray-400 text-sm font-bold">{date}</p>
							<p class="my-4 text-gray-400">{description}</p>
							<div class="mt-auto flex justify-center">
								<a href={url.github} class="text-gray-400 text-sm border rounded-full p-2 bg-gray-900 hover:bg-sky-600" target="_blank">Repositorio</a>
								{url.demo && (
									<a href={url.demo} class="text-gray-400 text-sm border rounded-full p-2 bg-gray-900 hover:bg-sky-600 ml-4" target="_blank">Demo</a>
								)}
							</div>
						</div>
					);
				})
			}
		</div>
	</section>
</Layout>
